# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.sqlite3

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
*.egg-info/
.eggs/

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
*.whl

# Python-specific
pip-log.txt
pip-delete-this-directory.txt
